$highlightColor: #4cc7b0;
// $highlightColorDark: #00a385;
$highlightColorDark: darken($highlightColor, 11%);
$highlightTextColor: #212529;

$headerText: white;
$headerTextShadow: black;

$navBackground: #212529;
$navText: white;
$navIconColor: white;

$footerBackground: #212529;
$footerText: white;

$bodyColor: #eee;
$bodyTextColor: #333;

$postBackground: white;
$postOutline: rgba(0, 0, 0, 0.125);

{{ $darkCodeStyle := resources.Get "css/chroma-dracula.css" }}
{{ $lightCodeStyle := resources.Get "css/chroma-colorful.css" }}

:root {
    --highlightColor: #{$highlightColor};
    --highlightColorDark: #{$highlightColorDark};
    --bodyColor: #{$bodyColor};
    --bodyTextColor: #{$bodyTextColor};
    --headerText: #{$headerText};
    --headerTextShadow: #{$headerTextShadow};
    --navText: #{rgba($navText, 0.55)};
    --navBackground: #{$navBackground};
    --navIconColor: #{$navIconColor};
    --footerText: #{$footerText};
    --footerBackground: #{$footerBackground};
    --paleHighlight: #{rgba($highlightColor, 0.1)};
    --postBackground: #{$postBackground};
    --postOutline: #{$postOutline};
    --highlightTextColor: #{$highlightTextColor};

    @media (prefers-color-scheme: dark) {
        --bodyTextColor: #{invert($bodyTextColor)};
        --highlightTextColor: #{invert($highlightTextColor)};
        --bodyColor: #{invert($bodyColor)};
        --postBackground: #{invert($postBackground)};

        {{ $darkCodeStyle.Content | safeCSS }}
    }

    @media (prefers-color-scheme: light) {
        {{ $lightCodeStyle.Content | safeCSS }}
    }
}

body {
    background-color: var(--bodyColor);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--bodyTextColor);

    word-break: break-word;
}

a {
    text-decoration: none;
    color: var(--highlightColorDark);

    &:hover {
        color: var(--highlightColorDark);
        text-decoration: underline;
    }
}

.pagination {
    .page-item {
        .page-link {
            color: var(--highlightColorDark);

            &:hover {
                color: var(--highlightColorDark);
                text-decoration: none;
                border-color: var(--highlightColor) !important;
            }
        }
    }
}

header.site-header {
    .banner {
        padding: 40px;

        background-image: url("../{{ .Site.Params.headerimg }}");
        background-position: center;
        background-size: cover;
        min-height: 150px;

        .text {
            color: var(--headerText);
            text-shadow: 3px 3px 0 var(--headerTextShadow), -1px -1px 0 var(--headerTextShadow),
                1px -1px 0 var(--headerTextShadow), -1px 1px 0 var(--headerTextShadow),
                1px 1px 0 var(--headerTextShadow);
        }

        a {
            text-decoration: none;
        }
    }

    nav {
        background-color: var(--navBackground);

        .navbar-toggler {
            border-color: var(--navText);
            color: var(--navText);

            .navbar-toggler-icon {
                // From bootstrap
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
        }

        a {
            color: var(--navText);

            &:hover,
            &:focus,
            &:active {
                color: var(--highlightColor);
                text-decoration: none;
            }
        }

        .contact-icons {
            a {
                text-decoration: none;
                color: var(--navIconColor);

                &:hover {
                    color: var(--highlightColor);
                }
            }
        }
    }
}

section.page-details {
    background-color: var(--postBackground);

    header {
        border: 1px solid var(--postOutline);
        border-radius: 0.3rem;
        margin-top: 40px;
        padding: 10px 20px 0px 20px;

        // border-left: 4px solid var(--highlightColor);
        // border-right: 4px solid var(--highlightColor);
        // border-top: 4px solid var(--highlightColor);
        border-bottom: 4px solid var(--highlightColor);
        // background-color: var(--paleHighlight);
    }
}

article.page,
article.post {
    background-color: var(--postBackground);
    border: 1px solid var(--postOutline);
    border-radius: 0.3rem;
    margin-top: 40px;

    header,
    footer {
        padding: 10px 20px 10px 20px;
    }

    header {
        border-bottom: 4px solid var(--highlightColor);
        background-color: var(--paleHighlight);

        h1,
        h2 {
            margin: 0;
        }

        // border-bottom: 1px solid var(--postOutline);
        a {
            color: var(--highlightTextColor);
            text-decoration: none;
        }

        p {
            margin-bottom: 0;
        }
    }

    main {
        padding: 20px;

        .continue-reading {
            margin-top: 20px;
        }
    }

    footer {
        background-color: var(--footerBackground);
        color: var(--footerText);
        border-top: 1px solid var(--postOutline);
        display: flex;
        flex-direction: row;
        clear: both;

        small {
            .badge {
                vertical-align: middle;
                display: block-inline;
            }
        }
    }

    .post-image {
        border-radius: 0.35em;
        border: 0;
        display: inline-block;
        position: relative;

        & img {
            border-radius: 0.35em;
        }

        &.left {
            float: left;
            margin: 0 1.5em 1em 0;
            top: 0.25em;
        }

        &.middle {
            text-align: center;
            margin: 1em auto;
            width: 100%;
        }

        &.right {
            float: right;
            margin: 0 0 1em 1.5em;
            top: 0.25em;
        }

        &.left,
        &.right {
            max-width: 40%;
            display: block;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}

footer.site-footer {
    background-color: var(--footerBackground);
    color: var(--footerText);
    
    a {
        color: var(--highlightColor);
    }

    .copyright {
        a {
            color: var(--footerText);
            &:hover {
                color: var(--highlightColor) !important;
            }
        }
    }
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 5px solid var(--highlightColor);
    background-color: var(--paleHighlight) !important;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: var(--highlightTextColor);
    border-radius: 0;

    border: 1px solid var(--highlightColor);
    border-left: 5px solid var(--highlightColor);
    background-color: var(--paleHighlight) !important;

    code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        white-space: pre-wrap;
        background-color: transparent;
        border-radius: 0;
    }
}