	<!-- Article content -->
	<div class="entry-content">
		{{ if and (isset .Params "image") (ne nil .Params.image) (ne "" .Params.image) }}
			{{ $image := .Resources.GetMatch (printf "%s*" ($.Param "image")) }}
			<figure class="entry-image {{ if isset .Params "imageposition" }}{{ .Params.imageposition }}{{ else }}right{{ end }}">
				<img alt="Post thumbnail" src="{{ $image.RelPermalink }}">
			</figure>
		{{ else if .Resources.GetMatch "postimg" }}
			{{ $image := .Resources.GetMatch "postimg" }}
			<figure class="entry-image {{ if isset .Params "imageposition" }}{{ .Params.imageposition }}{{ else }}right{{ end }}">
				<img alt="Post thumbnail" src="{{ $image.RelPermalink }}">
			</figure>
		{{ end }}

		{{ if .Params.series }}
			{{ $name := index .Params.series 0 }}
			{{ $name := $name | urlize }}
			{{ $series := index .Site.Taxonomies.series $name }}

			<blockquote>
				<p>This post is part of a <a href="/series/{{ index .Params.series 0 | lower | urlize }}/">series</a>.</p>
				<ol>
					{{ range $series.Pages.Reverse }}
						{{ if eq .RelPermalink $.RelPermalink }}
							<li>{{ .LinkTitle }} <strong>(This Post)</strong></li>
						{{ else }}
							<li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
						{{ end }}
					{{end}}
				</ol>
			</blockquote>
		{{end}} 

		{{ .Content }}
	</div> <!-- end entry-content -->
