	<!-- Article content -->
	<div class="entry-content">
		{{ if and (isset .Params "image") (ne nil .Params.image) (ne "" .Params.image) }}
			{{ $image := .Resources.GetByPrefix .Params.image }}
			<figure class="entry-image {{ if isset .Params "imageposition" }}{{ .Params.imageposition }}{{ else }}right{{ end }}">
				<img alt="Post thumbnail" src="{{ $image.RelPermalink }}">
			</figure>
		{{ else if .Resources.GetByPrefix "postimg" }}
			{{ $image := .Resources.GetByPrefix "postimg" }}
			<figure class="entry-image {{ if isset .Params "imageposition" }}{{ .Params.imageposition }}{{ else }}right{{ end }}">
				<img alt="Post thumbnail" src="{{ $image.RelPermalink }}">
			</figure>
		{{ end }}
		{{ .Content }}
	</div> <!-- end entry-content -->
