{{ partial "layout/header" . }}

<article class="page">
	<header class="page-header">
		<h1>{{ .Title }} List</h1>
    </header>
    <main class="post-content">
        {{ $lastYear := "0" }}
        {{ range .Pages }}
            {{ $thisYear := .Date.Format "2006" }}
            {{ if ne $lastYear $thisYear }}
                {{ if ne $lastYear "0" }}</ul>{{ end }}

                <h3>{{ $thisYear }}</h3>
                <ul>
            {{ end }}

            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a> - {{ .Date.Format "Jan 2, 2006" }}
            </li>

            {{ $lastYear = $thisYear }}
        {{ end }}

        {{ if ne $lastYear "0" }}</ul>{{ end }}
    </main>
</article>

{{ partial "layout/footer" . }}