			</div>

			{{ partial "sidebar.html" . }}

			<script type="text/javascript">
				window.onload = function(){prettyPrint();};
			</script>
		</div>
	</div>

	<!-- FOOTER -->
	<footer class="site-footer">
		<div class="container">
			<div class="copyright">
				<p>
					&copy; {{ dateFormat "2006" now }} <a href="/">{{ .Site.Title }}</a>
					&#12288; <a class="author-url" href="http://standew.com/klyment">Theme Material</a>
				</p>
			</div>
		</div>
	</footer>

	<script type='text/javascript' src='/js/jquery-3.2.1.min.js'></script>
	<script type='text/javascript' src='/js/bootstrap-3.3.1.min.js'></script>
	<script type='text/javascript' src='/js/main.js'></script>
	<script type='text/javascript' src='/js/override.js'></script>
	{{ partial "footer-override.html" . }}
	</body>
</html>
