<article class="post type-post status-publish format-standard hentry category-general">
	<header class="entry-header">
		<h1>
			<a href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a>
		</h1>

		<p class="entry-meta">
			<ul class="list-inline entry-meta">
				<li class="meta-date">
					Posted on <a href="{{ .RelPermalink }}" rel="date">{{ .Date.Format "January 2, 2006" }}</a>
				</li>
				<li class="meta-author">
					by {{ .Params.Author }}
				</li>
			</ul>
		</p>
	</header> <!-- end entry-header -->

	<!-- Article content -->
	<div class="entry-content">
		{{ .Content }}
	</div> <!-- end entry-content -->

	<!-- Article footer -->
	<footer class="entry-footer">
		<ul class="list-inline entry-meta">
			{{ if isset .Params "category" }}
				<li class="meta-categories">
					Categorized in

					{{ with .Params.category }}
					    {{ $sort := sort . }}
					    {{ $links := apply $sort "partial" "categorieslink" "." }}
					    {{ $clean := apply $links "chomp" "." }}
					    {{ delimit $clean ", " }}
					{{ end }}
				</li>
			{{ end }}
			<!--
			<li class="pull-right clear-right">
				<i class="fa fa-comments"></i><span class="meta-reply"><a href="https://blog.dataforce.org.uk/2017/05/104979/#comments">One comment so far</a></span>
			</li>
			-->
		</ul>
	</footer> <!-- end entry-footer -->
</article>
