	<!-- Article footer -->
	<footer class="bg-dark text-white">
		{{ if isset .Params "category" }}
			<small>
				{{ with .Params.category }}
					{{ $sort := sort . }}
					{{ $links := apply $sort "partial" "post/categories" "." }}
					{{ $clean := apply $links "chomp" "." }}
					{{ delimit $clean " " }}
				{{ end }}
			</small>
		{{ end }}
		
		{{ if eq .Params.comments true }}
			<small class="ms-auto">
				<i class="fa fa-comments"></i> <a href="{{ .RelPermalink }}#comments">Comments</a>
			</small>
		{{ end }}
	</footer> <!-- end entry-footer -->
