			<aside class="sidebar" role="complementary">

				{{ if and (isset .Site.Params "profile") (eq .Site.Params.profile.show true) }}
					<div id="profile" class="likeawidget">
						<div class="pwn-profile-widget-ninja-wrapper pwn-profile-widget-ninja-layout-center pwn-layout-style-style2 pwn-profile-widget-ninja-avatar-round">
							<div class="pwn-container-bottom-wrapper" style="">
								<img src="{{ .Site.Params.profile.image }}" alt="{{ .Site.Params.profile.name }}" width="200" height="200" class="profile-avatar" style="margin-top: -0px;" />
								<h4>{{ .Site.Params.profile.name }}</h4>
								<div class="pwn-description-container">{{ .Site.Params.profile.description }}</div>
							</div>
							<div class="pwn-container-social-links" style="">
								{{ if isset .Site.Params.profile "email" }}
									<a href="mailto:{{ .Site.Params.profile.email }}" target="_blank">
										<img src="/profile-widget-ninja/icons/email-1-32x32.png" alt="Email" title="Email" width="32" height="32" />
									</a>
								{{ end }}
								{{ if isset .Site.Params.profile "github" }}
									<a href="https://www.github.com/{{ .Site.Params.profile.github }}" target="_blank">
										<img src="/profile-widget-ninja/icons/github-1-32x32.png" alt="GitHub" title="GitHub" width="32" height="32" />
									</a>
								{{ end }}
								{{ if isset .Site.Params.profile "twitter" }}
									<a href="https://www.twitter.com/{{ .Site.Params.profile.twitter }}" target="_blank">
										<img src="/profile-widget-ninja/icons/twitter-1-32x32.png" alt="Twitter" title="Twitter" width="32" height="32" />
									</a>
								{{ end }}
								{{ if isset .Site.Params.profile "facebook" }}
									<a href="https://www.facebook.com/{{ .Site.Params.profile.facebook }}" target="_blank">
										<img src="/profile-widget-ninja/icons/facebook-1-32x32.png" alt="Facebook" title="Facebook" width="32" height="32" />
									</a>
								{{ end }}
								{{ if isset .Site.Params.profile "linkedin" }}
									<a href="https://www.linkedin.com/in/{{ .Site.Params.profile.linkedin }}" target="_blank">
										<img src="/profile-widget-ninja/icons/linkedin-1-32x32.png" alt="LinkedIn" title="LinkedIn" width="32" height="32" />
									</a>
								{{ end }}
							</div>
						</div>
					</div>
				{{ end }}

				<div id="links" class="widget widget_links">
					<h5 class="widget-title">Links</h5>
					<ul>
						{{ range .Site.Params.sidebar }}
							<li>
								<a href="{{ .link }}" rel="me" title="{{ .description }}" target="_blank">{{ .name }}</a>
								{{ .description }}
							</li>
						{{ end }}
					</ul>
				</div>

				<div id="recent-posts" class="widget widget_recent_entries">
					<h5 class="widget-title">Recent Posts</h5>
					<ul>
						{{ range first 5 (where .Site.Pages "Type" "post") }}
						<li>
							<a href="{{ .RelPermalink }}">{{ .Title }}</a>
						</li>
						{{ end }}
					</ul>
				</div>

				<div id="categories" class="widget widget_categories">
					<h5 class="widget-title">Categories</h5>
					<ul>
						{{ range .Site.Taxonomies.category.ByCount }}
							<li>
								<a rel="nofollow" href="{{ .Page.Permalink }}" title="{{ .Page.Title }}">{{ .Page.Title }}</a>
							</li>
						{{ end }}
					</ul>
				</div>

			{{ partial "layout/override/sidebar" . }}

			</aside>
